*{
    list-style-type: none;
    font-family: 'Cabin', sans-serif;
}
header{
    position: relative;
    width: 800px;
    height: 100px;
    background-color: #A2A3C4;
    margin: 10px auto;
    text-align: center;
    line-height: 80px;
  }
nav{
    position: relative;
    width: 800px;
    height: 80px;
    margin: auto;
    
  }
  nav ul li{  
    background-color: #D3B976 ;
    margin: 2px 0px;/* arria-abajo / derecha-izquierda*/
    padding: 5px; /* margen del ul en el  botón*/
    float: left; /* horizontal*/
    width: 220px;
    height: 40px;
    text-align: center;
    line-height: 40px; /*alinia texto en el horizontal*/
  }
  
  nav ul li a{
    color: black;/*define el color de letra del a*/
    text-decoration: none;/* quita subrayado */
    display: block; /* para espandir el enlace y que ocupe todo el bloque */
    padding: 2px;
  
  }
  nav ul li:hover{ /*  aplicas este estilo al pasar por encima */
    background: #A2A3C4;  
  }

  img{
    float: right;
    width: 50px;
    height: 50px;
  }
  
  section{
    height: 350px;
    width: 800px;
    margin: auto;
    background-color: #A2A3C4;
  }

  footer{
    width: 800px;
    margin: auto;
    text-align: center;
    color: #A2A3C4;
  }
  
