*{
    list-style-type: none;
    border-radius: 5px;
}

html{
  background-color: blanchedalmond;
}

header{
  position: relative;
  width: 800px;
  height: 100px;
  background-color: #A2A3C4;
  margin: 10px auto;
  text-align: center;
  line-height: 80px;
  font-family: 'Limelight', cursive;
}

nav{
  position: relative;
  width: 800px;
  height: 80px;
  margin: auto;
}

nav ul li{  
  background-color: #D3B976 ;
  margin: 2px 0px;/* arria-abajo / derecha-izquierda*/
  padding: 5px; /* margen del ul en el  botón*/
  float: left; /* horizontal*/
  width: 220px;
  height: 45px;
  text-align: center;
  line-height: 40px; /*alinia texto en el horizontal*/
  }

  nav ul li ul li{
    margin: 0px 0px 0px -45px;  
  }

  nav ul li ul li{
    display: none;
  }

  nav ul li:hover ul li{
    display: block;

  }

  nav ul li a{
    color: black;/*define el color de letra del a*/
    text-decoration: none;/* quita subrayado */
    display: block; /* para espandir el enlace y que ocupe todo el bloque */
    padding: 2px;
  
  }

  nav ul li:hover{ /*  aplicas este estilo al pasar por encima */
    background: #A2A3C4;  
  }

  #cantidad{
   border-radius: 14px;
 /*  background-color: red;*/
   font-size: 14px;
   font-weight: bold;
   color: white;
   width: 15px;
   float: left;
   text-align: center;
  
  }

  img{
    float: right;
    width: 50px;
    height: 50px;
  }
  
  section{
    height: 350px;
    width: 800px;
    margin: auto;
    background-color: #A2A3C4;
    text-align: center;
    line-height: 30px;
  }

  section img{
    margin-top: 25px;
    margin-right: -215px;
    margin-left: 50px;
    float: left;
    width: 250px;
    height: 250px;
  }

  button.color{
    position: relative;
    float: left;
    margin-top: 295px;
    
  }
  article{
    float: right;
    width: 440px;
    background-color:  #D3B976  ;/*#a9aad8*/
    margin: auto;
    height: 290px;
    margin: 25px;
  }

  footer{
    width: 800px;
    margin: auto;
    text-align: center;
    color: #A2A3C4;
  }
  
#precio{
  font-weight: bolder;
 /* margin-top: -38px;*/
  margin: -40px 0px -2px 0px;
}

button{
  margin-top: -10px;
}